# <div style="text-align:center;"><span style="color:darkred"><u>Listes (tableaux) en Python</u></span></div>

## <span style="color:blue">1\. Introduction

En python, les tableaux sont assimilés à des listes qui sont des objets de la classe &laquo;list&raquo;. 

Voici quelques caractéristiques des listes :
<ul><li>une liste est délimitée par des crochets,</li>
    <li>les éléments d'une liste sont séparés par des virgules,</li>
    <li>une liste est un ensemble ordonné d'éléments numérotés à partir de 0,</li>
    <li>une liste peut contenir des entiers, des caractères, des listes, des tuples (n-uplets) etc,</li>
    <li>un même élément peut apparaître plusieurs fois.</li>

</ul>
Les listes permettent de stocker une grande quantité de données et d'avoir accès à chacune d'elle par son indice (numéro).

## <span style="color:blue">2\. Construction de listes</span>
### <span style="color:blue">1\. &laquo;À la main&raquo;</span>

In [2]:
# Une liste vide :
liste1=[]

# Une liste contenant un seul élément :
liste2=[22]

# Une liste de 3 éléments :
liste3=[1,2,3]

# Une liste de listes :
liste4=[[0,1,2,3],[4,5,6,7],[8,9,10,11],[12,13,14,15]]

In [3]:
type(liste1)

list

In [4]:
len(liste3)

3

Une erreur classique de commande de lecture dans une liste...qu'il faut corriger :

In [7]:
#liste3[len(liste3)]
liste3[len(liste3)-1]

3

In [9]:
liste3[-1]

3

In [11]:
len(liste4)

4

In [12]:
liste4[-1]

[12, 13, 14, 15]

Essayons de créer un quatrième élément à liste3 avec une affectation :

In [18]:
#liste3[3]=12
liste3_1=[-1]*(len(liste3)+1)
for i in range(len(liste3_1)-1):
    liste3_1[i] = liste3[i]
liste3_1[3] = 12
liste3_1

[1, 2, 3, 12]

Une liste de listes (si celles-ci sont toutes de la même longueur) est comparable à un tableau à deux dimensions.

<span style="color:red">Attention ! Il est impossible d'ajouter un élément d'une
liste par affectation de cette manière.</span>

In [ ]:
liste4[3][3]

### <span style="color:blue">2\. De manière plus automatique</span>

#### <span style="color:blue">2.1 Grâce à la souplesse de Python...</span>

In [5]:
liste5=[0]*10
liste5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### <span style="color:blue">2.2 En utilisant les fonctions "list" et "range"

In [6]:
liste6=list(range(4))
liste6

[0, 1, 2, 3]

In [10]:
liste7=list(range(3,6))
liste7

[3, 4, 5]

In [11]:
liste8=list(range(3,12,2))
liste8

[3, 5, 7, 9, 11]


#### <span style="color:blue">2.3 Avec une formule dans une boucle &laquo;for&raquo; </span> 
   
####  <u>Exercice 2.3.1</u>  : 

Créer avec une boucle &laquo;for&raquo; la liste &laquo;pairs&raquo; constituée des 10 premiers nombres pairs. 

Aide : on commencera par initialiser &laquo;pairs&raquo; avec des 0.

In [15]:
pairs = [0]*10
for i in range(len(pairs)):
    pairs[i] = 2*i
pairs

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

####  <u>Exercice 2.3.2</u>  : 

Créer la liste &laquo;carrés&raquo; constituée des carrés des nombres entiers naturels de 0 à 15.

#### <span style="color:blue">2.4 Par &laquo;compréhension&raquo;</span>

Python est un langage étudié pour aller toujours vers plus de simplifications. Il offre de nombreux raccourcis de langage qui permettent d'être plus efficace.

Ainsi, par la technique dite de &laquo;compréhension de liste&raquo; on peut remplacer avantageusement le code de l'exercice 2.3.1 par la seule ligne de commande ci-dessous :

In [ ]:
[2*i for i in range(10)]

####  <u>Exercice 2.4.1</u>  : 

Donner de même une réponse à l'exercice 2.3.2 en une seule ligne de commande.

####  <u>Exercice 2.4.2</u>  :  

Par la méthode de compréhension de liste, construire la liste liste4.

####  <u>Remarques</u>  :

La commande &laquo;range&raquo; génère ce qu'on appelle un &laquo;itérable&raquo;.

En Python, comme on l'a vu au précédent notebook, une chaîne de caractères est également un itérable. On peut donc contruire une liste par compréhension en itérant sur les caractères de cette chaine comme le montre l'exemple qui suit.

In [ ]:
[truc for truc in "J'épelle ton nom !"]

In [ ]:
pnsi2=["angélique", "elijah", "theo", "julien", "adrien", "alexandre", "maxime", "ethan", "ines", "lena", "mohamed", "joris", "wahaab", "valentin", "nils", "damien", "lucas", "victor"]

In [ ]:
type(pnsi2[0])

In [ ]:
[lettre for lettre in pnsi2[0]]

Une liste est également un itérable...on peut donc itérer sur la liste nsi1 :

In [ ]:
[p for p in pnsi2 if p[0]=='j']

####  <u>Exercice 2.4.3</u>  :  

Par la méthode de compréhension de liste, construire la liste des prénoms de nsi avec une majuscule sur la première lettre.

In [ ]:
help(str.capitalize)

####  <u>Exercice 2.4.4</u>  :  

Par la méthode de compréhension de liste, construire la liste des prénoms de nsi1 de 5 lettres ou moins.